<template>
    <div class="about">
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <b-card-group>
                        <b-card  id="card-about" bg-variant="light" text-variant="dark" title="Over">
                            <p class="card-text">
                                Het Plasticdieet is onderdeel van Plastic Free July, een internationale actie om
                                aandacht te vragen voor
                                het gebruik van single use plastic in ons leven en mensen uit te dagen deze in een dag,
                                een week of een
                                maand lang te weigeren. Het begon in 2011 in Australië als lokaal initiatief, maar wordt
                                inmiddels
                                wereldwijd gevolgd. Het Plasticdieet is een vrijwilligersinitiatief van
                                duurzaamheidsvereniging
                                Opgemärkt, in samenwerking met zero waste blog Het Zero Waste Project en projectbureau A
                                new zero. De
                                app is in samenwerking met Toekomstfonds Amersfoort in ontwikkeling.
                            </p>
                        </b-card>
                    </b-card-group>
                </b-col>
            </b-row>
        </b-container>

    </div>
</template>

<style>
    .card-text {
        font-weight: 200;
        font-size: 1.0rem;
        text-align: left;
    }

    #card-about {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 5px;
        border-radius: 25px;
        border-width: 10px;
        border-color: #539cb4;
        background-color: white;
    }
</style>
