<template>
    <div class="bmi-meter">
        <router-view></router-view>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import BmiCalendar from '@/components/BmiCalendar.vue'; // @ is an alias to /src

    @Component({
        components: {
            BmiCalendar,
        },
    })
    export default class BmiMeter extends Vue {
    }
</script>

<style>

</style>
