<template>
    <div class="home">
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <b-card-group>
                        <b-card id="card-home" overlay
                                :img-src="require('../assets/plastic-dieet.jpeg')"
                                img-alt="Card Image"
                                text-variant="dark"
                                title="Plasticdieet APP">
                            <p class="lead">Dit is een alpha versie</p>
                        </b-card>
                    </b-card-group>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class Home extends Vue {
    }
</script>


<style>
    .card-text {
        font-weight: 200;
        font-size: 1.0rem;
        text-align: left;
    }

    #card-home {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 5px;
        border-radius: 25px;
        border-width: 10px;
        border-color: #f9ad44;
        background-color: white;
    }
</style>
