<template>
    <div class="map">
        <b-embed type="iframe"
                 aspect="1by1"
                 src="https://www.google.com/maps/d/embed?mid=1XB9sqzfLwe8TYWEOxSvtzoiGAMw"
                 allowfullscreen
        ></b-embed>
    </div>
</template>

<style>
    .card-text {
        font-weight: 200;
        font-size: 1.0rem;
        text-align: left;
    }

    #card-map {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 5px;
        border-radius: 25px;
        border-width: 10px;
        border-color: #539cb4;
        background-color: white;
    }
</style>
