<template>
    <div class="why">
        <b-container>
            <b-row>
                <b-col>
                    <b-card-group>
                        <b-card id="card-why" text-variant="dark" title="Waarom plasticdieet?">
                            <p class="card-text">
                                We leven in de Plastic Era; inmiddels hebben we al zoveel plastic geproduceerd dat we de
                                aarde zes keer met plastic tasjes zouden kunnen inwikkelen! We zijn ons er niet altijd
                                van bewust, maar ons leven wordt beheerst door plastic. Bestek, bekertjes, to go koffie,
                                rietjes, plastic zakjes (gelukkig niet meer gratis)... ongemerkt gebruiken we er enorm
                                veel van! Op zich is dat erg praktisch, maar helaas vergeten we vaak welke invloed dit
                                gebruik op ánderen heeft.
                            </p>
                            <p class="card-text">
                                Ieder jaar komt meer dan 4,7 miljoen ton plastic in de zee terecht. Dit leidt tot een
                                miljoen dode zeevogels en 100.000 dode zoogdieren per jaar. Say what....? Shocking! De
                                voornaamste reden hiervoor is dat plastic niet vergaat: ieder stukje plastic dat ooit
                                gemaakt is, is nog steeds op aarde.Best gek toch, dat het rietje dat je 3 minuten
                                gebruikt eigenlijk nooit meer verdwijnt?
                            </p>

                            <p class="card-text">
                                Door aantasting van warmte en water breekt plastic af in héle kleine stukjes. Daarom zie
                                je je rietje misschien niet direct terug, maar heeft het wel een (nog grotere) impact op
                                zeedieren die dit als voedsel aanzien. Een vis maakt geen onderscheid tussen plastic en
                                plankton. Ohja.. en als de plastic deeltjes eenmaal in de zee drijven, trekken ze ook
                                nog eens gifstoffen (Persistent Organic Pollutants) aan... Ook de grote stukken hebben
                                negatieve effecten: in één decennium is het aantal dieren dat verstrikt raakt in plastic
                                met 40% gestegen.
                            </p>
                            <p class="card-text">
                                Daarnaast is het productieproces van plastic ook niet om over naar huis te schrijven:
                                zowel het produceren áls verbranden (de meest gebruikte 'recycling'manier van plastic)
                                leidt tot meer CO2 en schadelijke chemische stoffen in de lucht. Kortom; laten we gewoon
                                zorgen dat we het niet hoeven te gebruiken, dan hoeven we ons ook geen zorgen te maken
                                om de effecten achteraf! Wíj gaan je laten zien hoe; door een maand lang tips&tricks,
                                inspiratie en informatie te geven.
                            </p>

                            <p class="card-text">
                                Bronnen: Emmajohn.nl, Plasticsoupfoundation.org , Hetkanwel.nl
                            </p>
                        </b-card>
                    </b-card-group>
                </b-col>
            </b-row>
        </b-container>

    </div>
</template>

<style>
    .card-text {
        font-weight: 200;
        font-size: 1.0rem;
        text-align: left;
    }

    #card-why {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 5px;
        border-radius: 25px;
        border-width: 10px;
        border-color: orange;
        background-color: white;
    }
</style>
