<template>
    <b-card v-if="bmiDay.isBlank" bg-variant="dark">
    </b-card>
    <b-card id="card" v-else-if="bmiDay.isSubmitted"
            :img-src="require('../assets/bmi.png')"
            img-alt="Image"
            img-top>
        <div class="container">
            <p>{{ displayDate() }}</p>
            <p>BMI {{ bmiDay.bmiCalculatedEvent.bmi.bmi.toFixed(2) }}</p>
            <b-button id="button" :to="{name: 'bmi-details', params: { bmiDay: bmiDay }}"
                      variant="primary">Details
            </b-button>
        </div>
    </b-card>
    <b-card id="card" v-else
            :img-src="require('../assets/nobmi.png')"
            img-alt="Image"
            img-top>
        <div class="container">
            <p>{{ displayDate() }}</p>
            <b-button id="button"
                      :to="{name: 'bmi-input', params: { day: bmiDay.bmiCalculatedEvent.day}}"
                      variant="primary">Bereken
            </b-button>
        </div>
    </b-card>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {BmiDay} from "../domain/BmiDay";

    @Component
    export default class BmiCard extends Vue {
        @Prop()
        private bmiDay!: BmiDay;

        public displayDate(): string {
            return this.bmiDay.bmiCalculatedEvent.day.localDate.format("DD MMMM");
        }
    }
</script>

<style>
    #card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 5px;
        border-radius: 5px;
        background-color: #aaa9a9;
        font-family: Chilanka;
    }

    /* On mouse-over, add a deeper shadow */
    #card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    #button {
        background: white;
        color: black;
        width: 100%;
        border-radius: 25px;
        border-width: 3px;
        border-color: #f9ad44;
    }

    .container {
        padding: 2px 16px;
    }
</style>


