<template>
    <div class="about">
        <b-container class="bv-example-row">
            <b-row>
                <b-col>
                    <b-card-group>
                        <b-card id="card-about" v-if="isWow" id="card"
                                :img-src="require('../assets/wow.gif')"
                                img-alt="Image"
                                img-top>
                            <p>{{ bmi }}</p>
                            <p>WOW! Heb je écht niks gebruikt vandaag? Supertof: je bent een echte pro. Houd dit
                                vol!</p>

                            <b-button id="button"
                                      :to="{name: 'bmi-calendar'}"
                                      variant="primary">Okey
                            </b-button>

                        </b-card>
                        <b-card id="card-about" v-else-if="isGoedBezig" id="card"
                                :img-src="require('../assets/goed-bezig.gif')"
                                img-alt="Image"
                                img-top>
                            <p>{{ bmi }}</p>
                            <p>Goed bezig! Probeer morgen nog een stapje verder te gaan en blijf jezelf uitdagen.</p>

                            <b-button id="button"
                                      :to="{name: 'bmi-calendar'}"
                                      variant="primary">Okey
                            </b-button>
                        </b-card>
                        <b-card id="card-about" v-else-if="isOei" id="card"
                                :img-src="require('../assets/oei.gif')"
                                img-alt="Image"
                                img-top>
                            <p>{{ bmi }}</p>
                            <p>Goed bezig! Probeer morgen nog een stapje verder te gaan en blijf jezelf uitdagen.</p>

                            <b-button id="button"
                                      :to="{name: 'bmi-calendar'}"
                                      variant="primary">Okey
                            </b-button>
                        </b-card>
                        <b-card id="card-about" v-else-if="isAi" id="card"
                                :img-src="require('../assets/ai.gif')"
                                img-alt="Image"
                                img-top>
                            <p>{{ bmi }}</p>
                            <p>Goed bezig! Probeer morgen nog een stapje verder te gaan en blijf jezelf uitdagen.</p>

                            <b-button id="button"
                                      :to="{name: 'bmi-calendar'}"
                                      variant="primary">Okey
                            </b-button>
                        </b-card>
                        <b-card id="card-about" v-else-if="isYouGotThis" id="card"
                                :img-src="require('../assets/you-got-this.gif')"
                                img-alt="Image"
                                img-top>
                            <p>{{ bmi }}</p>
                            <p>Goed bezig! Probeer morgen nog een stapje verder te gaan en blijf jezelf uitdagen.</p>

                            <b-button id="button"
                                      :to="{name: 'bmi-calendar'}"
                                      variant="primary">Okey
                            </b-button>
                        </b-card>
                        <b-card id="card-about" v-else id="card"
                                :img-src="require('../assets/Logo-balk-met-pay-off.png')"
                                img-alt="Image"
                                img-top>
                            <p>{{ bmi }}</p>
                            <p>Oeps, er ging iets fout! Tenzij je op zoek was naar een gifje van een kat met een vlinder op zijn pootje. </p>

                            <b-button id="button"
                                      :to="{name: 'bmi-calendar'}"
                                      variant="primary">Okey
                            </b-button>
                        </b-card>

                    </b-card-group>
                </b-col>
            </b-row>
        </b-container>

    </div>


</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';

    @Component
    export default class BmiCalculated extends Vue {
        @Prop()
        private bmi?: string;

        private isWow: boolean = false;
        private isGoedBezig: boolean = false;
        private isOei: boolean = false;
        private isAi: boolean = false;
        private isYouGotThis: boolean = false;

        mounted() {
            const bmiNum = parseFloat(this.bmi? this.bmi : "-1");
            this.isWow = bmiNum == 0;
            this.isGoedBezig = bmiNum > 0 && bmiNum <= 10;
            this.isOei = bmiNum > 10 && bmiNum <= 15;
            this.isAi = bmiNum > 15 && bmiNum <= 25;
            this.isYouGotThis = bmiNum > 25;
        }
    }
</script>

<style>
    .card-text {
        font-weight: 200;
        font-size: 1.0rem;
        text-align: left;
    }

    #button {
        background: white;
        color: black;
        width: 100%;
        border-radius: 25px;
        border-width: 3px;
        border-color: #f9ad44;
    }

    #card-about {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 5px;
        border-radius: 25px;
        border-width: 10px;
        border-color: #539cb4;
        background-color: white;
    }
</style>