<template>
    <div class="calendar">
        <b-container>
            <b-row>
                <b-col>
                    <b-card-group>
                        <b-card id="card-calendar" text-variant="dark" title="September">
                            <div>
                                <b-card-group id="card-group" v-for="cardGroup in cardGroups">
                                    <bmi-card id="card" v-for="card in cardGroup.cards" :bmiDay="card"/>
                                </b-card-group>
                            </div>
                        </b-card>
                    </b-card-group>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import BmiCard from '@/components/BmiCard.vue'
    import {BmiDay} from "@/domain/BmiDay";
    import {BMICalculatedEvent, BMICalculatedEvents} from "@/domain/bmi-meter-events"; // @ is an alias to /src
    import moment, {Moment} from 'moment';
    import {BmiCardGroup} from "@/domain/BmiCardGroup";
    import {LOCAL_DATE_FORMAT} from "@/domain/plastic-categories";

    @Component({
        components: {
            BmiCard: BmiCard,
        },
    })
    export default class BmiCalendar extends Vue {

        @Prop()
        private month!: string;

        private numberOfDays: number = 30;
        private numberOfColumns: number = 5;
        private cardGroups: Array<BmiCardGroup> = [];

        private created() {
            this.createBmiCardsData();
        }

        private numberOfRows(): number {
            return Math.ceil(this.numberOfDays / this.numberOfColumns);
        }

        async createBmiCardsData(): Promise<void> {
            let days = this.createCalendarDays();
            const bmiCalculatedEvents: BMICalculatedEvents = await this.$http.findBMICalculatedEventsByUser();
            bmiCalculatedEvents.bmiCalculatedEvents.forEach(event => {
                const day = moment(event.day.localDate, LOCAL_DATE_FORMAT, true).get('date');
                days[day - 1].bmiCalculatedEvent = event;
                days[day - 1].isSubmitted = true;
            });
            this.createBmiCard(days);
        }

        // TODO I know ugly right, but for now it works!!!
        // The b-card-groups: For the time being, these layout options are not yet responsive.
        private createBmiCard(days: Array<BmiDay>) {
            const cardGroups: Array<BmiCardGroup> = [];
            let groupStartDay = 1;
            for (let i = 0; i < this.numberOfRows(); i++) {
                const cards: Array<BmiDay> = [];
                for (let o = 0; o < this.numberOfColumns; o++) {
                    if (groupStartDay + o > this.numberOfDays) {
                        cards.push(new BmiDay(BMICalculatedEvent.initial('', moment()), false, true));
                    } else {
                        const day: BmiDay = days[groupStartDay + o - 1];
                        cards.push(new BmiDay(day.bmiCalculatedEvent, day.isSubmitted, false));
                    }
                }
                cardGroups.push(new BmiCardGroup(cards));
                groupStartDay = groupStartDay + this.numberOfColumns;
            }
            this.cardGroups = cardGroups;
        }

        private createCalendarDays(): Array<BmiDay> {
            const firstOfMonth: Moment = moment(new Date(2018, 8, 1));
            const days: Array<BmiDay> = [];
            for (let i = 0; i < this.numberOfDays; i++) {
                const day = new BmiDay(BMICalculatedEvent.initial('1337', moment(firstOfMonth)), false, false);
                days.push(day);
                firstOfMonth.add(1, 'days');
            }
            return days;
        }

    }
</script>
<style>

    .calendar {
        width: 100%

    }

    #card-calendar {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 5px;
        border-radius: 25px;
        border-width: 10px;
        border-color: orange;
        background-color: white;
    }


</style>



