<template>
    <b-container class="bv-example-row">
        <b-row>
            <b-col>
                <b-card-group>
                    <b-card id="card-details" bg-variant="light">
                        <p class="card-bmi">{{ displayDate() }}</p>
                        <p class="card-bmi">BMI {{ bmiDay.bmiCalculatedEvent.bmi.bmi.toFixed(2) }}</p>
                        <p></p>
                        <p class="card-bmi">Plastic tassen: {{
                            bmiDay.bmiCalculatedEvent.plasticCategories.numberOfBags.amount }}</p>
                        <p class="card-bmi">Plastic rietjes: {{
                            bmiDay.bmiCalculatedEvent.plasticCategories.numberOfStraws.amount }}</p>
                        <p class="card-bmi">Plastic flessen: {{
                            bmiDay.bmiCalculatedEvent.plasticCategories.numberOfBottles.amount }}</p>
                        <p class="card-bmi">Plastic bekers: {{
                            bmiDay.bmiCalculatedEvent.plasticCategories.numberOfCups.amount }}</p>
                        <p class="card-bmi">Kleine plastic verpakkingen: {{
                            bmiDay.bmiCalculatedEvent.plasticCategories.numberOfSmallPacks.amount }}</p>
                        <p class="card-bmi">Grote plastic verpakkingen: {{
                            bmiDay.bmiCalculatedEvent.plasticCategories.numberOfBigPacks.amount }}</p>
                        <p class="card-bmi">Gedeeltelijk plastic verpakkingen: {{
                            bmiDay.bmiCalculatedEvent.plasticCategories.numberOfPartlyPlasticPacks.amount }}</p>
                        <p class="card-bmi">Plastic bestek: {{
                            bmiDay.bmiCalculatedEvent.plasticCategories.numberOfCutlerys.amount }}</p>
                        <p class="card-bmi">Plastic borden: {{
                            bmiDay.bmiCalculatedEvent.plasticCategories.numberOfPlates.amount }}</p>

                    </b-card>
                </b-card-group>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {BmiDay} from "@/domain/BmiDay";

    @Component
    export default class BmiDetails extends Vue {

        @Prop()
        private bmiDay!: BmiDay;

        public displayDate(): string {
            return this.bmiDay.bmiCalculatedEvent.day.localDate.format("DD MMMM");
        }

    }
</script>

<style>
    .card-text {
        font-weight: 200;
        font-size: 1.0rem;
        text-align: left;
    }

    #card-details {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 5px;
        border-radius: 25px;
        border-width: 10px;
        border-color: #539cb4;
        background-color: white;
    }
</style>


