<template>
    <b-container class="bv-example-row">
        <b-row>
            <b-col>
                <b-card-group>
                    <b-card id="card-input" :header="displayDate()" bg-variant="light">
                        <b-form @submit="onSubmit">
                            <b-form-group horizontal
                                          breakpoint="lg"
                                          label="Aantal plastic gebruikt"
                                          label-size="lg"
                                          label-class="font-weight-bold pt-0"
                                          class="mb-0">
                                <b-form-group horizontal
                                              label="Plastic tassen:"
                                              label-class="text-sm-right"
                                              label-for="numberOfBags">
                                    <b-form-input id="numberOfBags" type="number"
                                                  v-model.number="numberOfBags"></b-form-input>
                                </b-form-group>
                                <b-form-group horizontal
                                              label="Plastic rietjes:"
                                              label-class="text-sm-right"
                                              label-for="numberOfStraws">
                                    <b-form-input id="numberOfStraws" type="number"
                                                  v-model.number="numberOfStraws"></b-form-input>
                                </b-form-group>
                                <b-form-group horizontal
                                              label="Plastic flessen:"
                                              label-class="text-sm-right"
                                              label-for="numberOfBottles">
                                    <b-form-input id="numberOfBottles" type="number"
                                                  v-model.number="numberOfBottles"></b-form-input>
                                </b-form-group>
                                <b-form-group horizontal
                                              label="Plastic bekers:"
                                              label-class="text-sm-right"
                                              label-for="numberOfCups">
                                    <b-form-input id="numberOfCups" type="number"
                                                  v-model.number="numberOfCups"></b-form-input>
                                </b-form-group>
                                <b-form-group horizontal
                                              label="Kleine plastic verpakkingen:"
                                              label-class="text-sm-right"
                                              label-for="numberOfSmallPacks">
                                    <b-form-input id="numberOfSmallPacks" type="number"
                                                  v-model.number="numberOfSmallPacks"></b-form-input>
                                </b-form-group>
                                <b-form-group horizontal
                                              label="Grote plastic verpakkingen:"
                                              label-class="text-sm-right"
                                              label-for="numberOfBigPacks">
                                    <b-form-input id="numberOfBigPacks" type="number"
                                                  v-model.number="numberOfBigPacks"></b-form-input>
                                </b-form-group>
                                <b-form-group horizontal
                                              label="Gedeeltelijk plastic verpakkingen:"
                                              label-class="text-sm-right"
                                              label-for="numberOfPartlyPlasticPacks">
                                    <b-form-input id="numberOfPartlyPlasticPacks" type="number"
                                                  v-model.number="numberOfPartlyPlasticPacks"></b-form-input>
                                </b-form-group>
                                <b-form-group horizontal
                                              label="Plastic bestek:"
                                              label-class="text-sm-right"
                                              label-for="numberOfCutlerys">
                                    <b-form-input id="numberOfCutlerys" type="number"
                                                  v-model.number="numberOfCutlerys"></b-form-input>
                                </b-form-group>
                                <b-form-group horizontal
                                              label="Plastic borden:"
                                              label-class="text-sm-right"
                                              label-for="numberOfPlates">
                                    <b-form-input id="numberOfPlates" type="number"
                                                  v-model.number="numberOfPlates"></b-form-input>
                                </b-form-group>
                            </b-form-group>
                            <b-button id="button" type="submit" variant="primary">Submit</b-button>
                        </b-form>
                    </b-card>

                </b-card-group>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {CalculateBMICommand} from "@/domain/bmi-meter-commands";
    import {Amount, LocalDate, PlasticCategories} from "@/domain/plastic-categories";

    @Component
    export default class BmiInput extends Vue {
        @Prop()
        private day!: LocalDate;

        numberOfBags: number = 0;
        numberOfStraws: number = 0;
        numberOfBottles: number = 0;
        numberOfCups: number = 0;
        numberOfSmallPacks: number = 0;
        numberOfBigPacks: number = 0;
        numberOfPartlyPlasticPacks: number = 0;
        numberOfCutlerys: number = 0;
        numberOfPlates: number = 0;

        public displayDate(): string {
            return this.day.localDate.format("DD MMMM");
        }

        async onSubmit(evt: Event): Promise<void> {
            evt.preventDefault();
            const plasticCategories: PlasticCategories = new PlasticCategories(new Amount(this.numberOfBags), new Amount(this.numberOfStraws), new Amount(this.numberOfBottles),
                new Amount(this.numberOfCups), new Amount(this.numberOfSmallPacks), new Amount(this.numberOfBigPacks),
                new Amount(this.numberOfPartlyPlasticPacks), new Amount(this.numberOfCutlerys), new Amount(this.numberOfPlates));
            const bmi = await this.$http.calculateBmiForUser(new CalculateBMICommand(this.day, plasticCategories));
            this.$router.push({name: 'bmi-calculated', params : { bmi: bmi.toFixed(2) }});
        }
    }
</script>


<style>
    .card-text {
        font-weight: 200;
        font-size: 1.0rem;
        text-align: left;
    }


    #button {
        background: white;
        color: black;
        width: 100%;
        border-radius: 25px;
        border-width: 3px;
        border-color: #f9ad44;
    }

    #card-input {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 5px;
        border-radius: 25px;
        border-width: 10px;
        border-color: #539cb4;
        background-color: white;
    }
</style>
