<template>
    <div id="app">
        <b-navbar id="navbar" toggleable="md">

            <b-img thumbnail id="img-avatar" :src="imgUrl" rounded="circle"  width="60" height="60" alt="img"></b-img>
            <div><p id="main-welcome">Hej! {{ nickname }}</p></div>
            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
            <b-collapse is-nav id="nav_collapse">
                <b-navbar-nav id="nav_items">
                    <b-nav-item to="/">Home</b-nav-item>
                    <b-nav-item to="/habit-tracker/calendar">Habit Tracker</b-nav-item>
                    <b-nav-item to="/why">Waarom</b-nav-item>
                    <b-nav-item to="/about">Over</b-nav-item>
                    <b-nav-item to="/map">Kaart</b-nav-item>
                    <b-nav-item to="/what">Wat hoort waar</b-nav-item>
                    <b-nav-item href="#" @click.prevent="logout">Logout</b-nav-item>
                </b-navbar-nav>
            </b-collapse>


        </b-navbar>
        <!-- routes will be rendered here -->
        <router-view/>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Getter} from 'vuex-class';

    const namespace: string = 'user';


    @Component
    export default class BmiCalendar extends Vue {
        @Getter('nickname', {namespace}) nickname?: string;
        @Getter('imgUrl', {namespace}) imgUrl?: string;

        logout() {
            this.$auth.logout();
        }
    }

</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        background-color: white;
    }

    #img-avatar {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 10px;
        border-color: orange;
        background-color: orange;
    }

    #main-welcome {
        font-family: Chilanka;
        font-size: 22px;
        margin: 10px;
    }

    #navbar {
        background-color: #aaa9a9;
    }

    #nav a {
        font-weight: bold;
        color: #2c3e50;
    }
</style>
